<!doctype html>
<html>
<head>
    <link rel='stylesheet' href='stylesheets/style.css'/>
</head>
<body>

<div class="navbar">
    <ul>
        <li class="lr3"><a onclick="test" href="/profile">Crypto Asset Manager</a></li>
        <li class="lr"><a href="/logout">Log Out</a></li>
    </ul>
</div>


<picture>
    <source srcset="images/background2.jpg" media="(min-width: 1830px)">
    <img srcset="images/background3.jpg" alt="...">
</picture>

    <div class="assets">
        <h1 class="text1">Assets</h1>
    </div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Add new asset</h2>

        <div class="container">
            <form action="/assets" method="post">
                <input type="text" placeholder="Cryptocurrency name" name="name">
                <br><br>
                <input type="text" placeholder="Buy price / USD" name="buyprice">
                <br><br>
                <input type="text" placeholder="Amount" name="amount">
                <br><br>
                <button type="submit">Add</button>
            </form>
        </div>

    </div>
</div>


<div class="container4">
    <button class="add" id="myBtn">ADD NEW</button>

    <% for(let i = 0; i < assets.length; i++) { %>
    <ul>
        <li>
            <a href=<%= "/asset/" + assets[i]._id %>><span><%= assets[i].name %> : </span></a>
            <span><%= assets[i].buyprice%> $, </span>
            <span><%= assets[i].amount%> pc.</span>
            <span><%= assets[i]._id%></span>
        </li>
    </ul>
    <% } %>

</div>

    <div class="form2">
        <h1>Signed in as</h1>
        <p><strong></strong> <a class="text3"><%= user.local.email %></a><br></p>
    </div>



<script src="javascripts/modal.js"></script>
<script src="javascripts/main.js"></script>
</body>
</html>